@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Base styles */
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Space Grotesk', sans-serif;
  background: white;
  color: black;
}

/* Dark mode overrides */
.dark html,
.dark body {
  background: #111827;
  color: white;
}
